{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Authontification</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'str1' %}">
                    Главная
                </a>
                <h2>Authontification Page</h2>

                
            </div>

        </div>
    </header>
    <div class="container">
        <form action="">
            <input type="text" placholder="Nmame...">
            <input type="email" placholder="Email...">
            <div class="passw">
                <input id="pass" type="password" placholder="Password...">
                <svg id="passBtn" onclick="changePass()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 6.5a9.77 9.77 0 0 1 8.82 5.5c-1.65 3.37-5.02 5.5-8.82 5.5S4.83 15.37 3.18 12A9.77 9.77 0 0 1 12 6.5m0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5a2.5 2.5 0 0 1 0 5a2.5 2.5 0 0 1 0-5m0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5s4.5-2.02 4.5-4.5s-2.02-4.5-4.5-4.5z"/></svg>


            </div>

        </form>

    </div>
<div class="card text-bg-dark">
    <img src="https://i.pinimg.com/originals/94/37/62/9437625b155263382fb9fdbec03c03de.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">New Balance</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, quod ipsum. Optio totam possimus ipsa amet id, facere, iusto voluptatum sit cum reiciendis dolore quam fuga expedita quia laborum quaerat.</p>
      <p class="card-text"><small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, ipsum.
      </small></p>
    </div>
    <script>
        let pass = document.querySelector('#pass')
        let passBtn = document.querySelector('#passBtn')
        function changePass() {
            if (pass.type == 'password') {
                pass.type = 'text'
            } else {
                pass.type = 'password'
            }
        }
    </script>
</div>
</body>
</html>