{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
   
    <header>
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'str1' %}">
                    Главная
                </a>
                <a href="#">
                    Магазин
                </a>
                <a href="{% url 'favorite' %}">
                    Избраные 
                </a>
                <a href="{% url 'cards' %}">
                    Корзина
                </a>
                <a href="{% url 'sign_in' %}">
                    Войти
                </a>
                <a href="{% url 'sign_up' %}">
                    Регистрация
                </a>
            </div>

        </div>
    </header>
    

    <div class='cart'>
        <div class="cart_left">
            {% for i in nike %}
            <div class="product_row">
                <img  src="{{i.image.url}}"alt="">

                <div>
                    
                    <h3><a href="{% url 'detail' i.id %}">{{i.title}}</a></h3>
                    <p>{{i.price}}</p>
                    <a href="{% url 'delete' i.id %}">Delete</a>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
    <div class="cart_right">
        <p>Итоговая цена: {{total_price}}</p>
        <p>Количества товаров: {{amount}} </p>
        <a href="{% url 'order' %}">Оформить заказ </a>
        
    </div>
</body>
</html>
