{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <div class="header__inner">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Магазин
                </a>
                <a href="{% url 'favorite' %}">
                    Избраные 
                </a>
                <a href="{% url 'cards' %}">
                    Корзина
                </a>
                <a href="{% url 'auth' %}">
                    О Нас
                </a>
            </div>

        </div>
    </header>
    <div class="container">
        <div class="card__inner">
            {% for i in nike %}
            <div class="card">
                <img width="100%"
                    src="{{i.image.url}}"alt="">
                <h3><a href="{% url 'detail' i.id %}">{{i.title}}</a></h3>
                <p>{{i.price}}</p>
                <a href="{% url 'addcart' i.id %}"> ⚡️🔥Добавить в карзину🔥⚡️ </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>