{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'str1' %}">
                    Главная
                </a>
                <a href="#">
                    Магазин
                </a>
                <a href="{% url 'favorite' %}">
                    Избраные 
                </a>
                <a href="{% url 'cards' %}">
                    Корзина
                </a>
                <a href="{% url 'sign_in' %}">
                    Войти
                </a>
                <a href="{% url 'sign_up' %}">
                    Регистрация
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="form">
            <form action="{% url 'order' %}" method="POST">
                {% csrf_token  %}

                <h1>Оформить заказ</h1>
                <input name="address" placeholder="Type your address..." type="text" >
                <input name="phone_number" placeholder="Type your phone_number..." type="text" >
                <input name="messege" placeholder="Type your message..." type="text" >
                
                <button type="submit">Оформить</button>

            </form>
        </div>
    </div>
</body>